.projects{
    
    &__decription{
       margin-top: 6rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;

         @include responsive(tablet){
        grid-template-columns: 1fr;
        
    }

        &--text{
            text-align: center;
            @include responsive(tablet){
                line-height: 1.7;
                 
            }
            
            &-weather{
                grid-column: 1 / 2
            }
            &-paragraph{
                font-size: 1.6rem;
                margin-bottom: 2rem;
                text-align: left;
            }
        }
        &--img{
            display: block;
            width: 65%;
            
            @include responsive(tablet){
                width: 65%;
                margin-bottom: 2rem;
         
            }
            @include responsive(phone-large){
                width: 100%;
            }
            
            &-weather{
                grid-column: 2/3;
                grid-row: 1/2;

                @include responsive(tablet){
                    grid-column: 1/2;
                     
                }
                
            }
        }
    }
}